@charset "utf-8";
/* CSS Document */
.important{color:red;}
h1,h2,h3,h4,h5,h6{font-family:"klavika-web","Helvetica Neue",Helvetica,Arial,Geneva,sans-serif !important}

hr {height:4px;border-top:4px dashed #888}
.row .funsign{margin-bottom:2em;}
article{}
article h2{
	background: none repeat scroll 0 0 #333333;
    border: 1px solid #111111;
    border-radius: 5px 5px 0 0;
    color: white;
    font-size: 16px;
    font-weight:bold;
    letter-spacing: 0;
    margin-bottom: 0;
    overflow: hidden;
    padding: 8px 15px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}
article h2 label{display:inline;font-size:16px;}
article h2 .return{float: right;font-size:16px;font-style: italic;}
article .content{border-radius: 0 0 5px 5px;border:1px solid #333333;padding:1em;}
article .content .parameter dd{margin-bottom:1em;}